body {
  font-family: Arial, Helvetica, sans-serif;
  color:black; 
font-size: 3}
a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 75px; }
  h1 {
     font-family: Arial, Helvetica, sans-serif;
    font-size: 7em;
    color: rgb(255, 0, 0)
    ;
  }
 footer{
   padding:.5in;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1cm;
   color: black;
   position: relative;top:10; right:10;
   width:5cm;
   background-color: red
   }
   footer:hover{
    color:blue;
  }
p{font-size:1cm;
  padding:1in;
  color:white;
  background-color:black;
  width: 3in;height:4in;
  padding:.5in;
  position: relative;
bottom:750px;
left:750px;}
    
img{position: relative;
bottom:50px;
left:350px;
width: 4in;
height:4in; }

body {
  padding-top: 3.5rem;
}
   