body {
  font-family: 'Mansalva', cursive;
  color:black; 
font-size: 3}
a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 75px; }
  h1 {
     font-family: 'Mansalva', cursive;
    font-size: 7em;
    color: rgb(255, 0, 0)
    ;
  }
 footer{
   font-family: 'Courier New', Courier, monospace;
   font-size: .5cm;
   color: black;
   position: absolute;top:10; right:10;
   width:5cm;
   background-color: red
   }
   p{font-size:.75cm}
   footer:hover{
    color:blue;
   :110px;
  }
p{position: relative;
bottom:700px;
left:700px;}
    
img{position: relative;
bottom:50px;
left:400px;}

   